.dis{
  height: 500px;
  width: 500;
  display: flex;
  justify-content: center;
  align-items: center;

}
h2{
  margin: 30px;
}

.line1{
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
p{
  width: 100%;
  margin: 0;
  float: inline-end;
}
a{
  text-decoration: none;
  float: right;
  margin-right: 40px;
}
label{
  margin-left: 40px;
  float: left;
}
button{
  border: none;
}